################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fupobackup/FileContentIndex
/.cache
/bart_finetuned
/distilbert_finetuned
